body{
  background-image: url("../images/table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#signout {
  margin: 10px;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 7%;
}

#signout a{
  background-color: black;
  font-family: Helvetica;
  font-size: 12px;
}

.selectbutton{
  width: 125px;
  margin-left: auto;
  margin-right: auto;
}

.selectbutton a{
  background-color: black;
  font-family: Helvetica;
  margin-bottom: 10px;
  text-align: center;
  width: 125px;
}

#pickup{
  margin-top: 22%;
}

.selectbutton a, #signout a{
  text-decoration: none;
  color: white;
}
