body{
  background-color: #f9f9f9;
}

#title {
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 36px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
}

.overlay{
  background-color: white;
  border-radius: 10px;
  width: 400px;
  height: 290px;
  margin: 0 auto;             /*horizontal center*/
  margin-top: 7%;             /*vertical center*/
}

#sorry {
  font-family: Futura;
  text-transform: uppercase;
  font-size: 15px;
  padding: 60px;
  margin: 10px;
}

.navbutton{
  font-family: Helvetica;
  font-size: 15px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  border-radius: 20px;
  margin-top: 10px;
}

.navbutton a{
  text-decoration: none;
  color: white;
}

.navbutton:hover{
  background-color: white;
  border: 2px dotted black;
}

.navbutton:hover a{
  color: black;
  text-transform: uppercase;
}
