@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
  background-color: #f9f9f9;
}

#title {
  font-family: Poppins, Helvetica;
  text-transform: uppercase;
  font-size: 36px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  margin-top: 5px;
}

.overlay{
  background-color: white;
  border-radius: 10px;
  width: 400px;
  /*height:450px;*/
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0 auto;             /*horizontal center*/
  margin-top: 7%;             /*vertical center*/
  position: relative;
}

#pic{
  padding: 10px;
  margin: 10px;
}

#pic img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.user{
  font-family: Poppins, Helvetica;
  font-size: 15px;
  margin: 10px;
  text-align: center;
}

#name2 {
  width: 65%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Poppins, Helvetica;
  font-size: 13px;
  /*padding: 5px;*/
  margin: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
}

.info{
  font-family: Poppins, Helvetica;
  font-size: 13px;
  /*padding: 5px;*/
  padding-bottom: 0px;
  padding-top: 10px;
  margin: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
}

.navbutton{
  text-align: center;
  /*margin-top: 10px;*/
  position: absolute;
  bottom: 5px;
  left: 48%;
}

.info, #home a, .user a, #name1{
  text-decoration: none;
  color: black;
}

#shop {
  margin: 0 auto;
  text-align: center;
}

div #shop {
  color: white;
  font-family: Poppins;
  font-size: 12px;
  background-color: green;
  border-color: green;
  padding: 10px;
  width: 50%;
  margin-bottom: 40px;
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 5px;
}

div #shop:hover{
  background-color: #79c174;
  border-color: #79c174;
}


.glyphicon{
  /*left: 100px;*/
  padding-top: 20px;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}
