body{
  background-color: #f9f9f9;
}

#title {
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 36px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  width: 20%;
  border-radius: 20px;
}

#pic{
  padding: 10px;
  margin: 10px;
}

#pic img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.user{
  font-family: Helvetica;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  border-radius: 20px;
}

.info{
  font-family: Helvetica;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  border-radius: 20px;
}

#home{
  font-family: Helvetica;
  font-size: 15px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  border-radius: 20px;
  margin-top: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 7%;
}

.info, #home a, .user a, #name1{
  text-decoration: none;
  color: white;
}

#name2:hover{
  background-color: white;
  border: 2px dotted black;
}

#name2:hover a{
  color: black;
  text-transform: uppercase;
}

#home:hover{
  background-color: white;
  border: 2px dotted black;
}

#home:hover a{
  color: black;
  text-transform: uppercase;
}
