body{
  background-color: gray;
}

#title {
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 36px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  width: 20%;
  border-radius: 20px;
}

#pic{
  padding: 10px;
  margin: 10px;
  /*width: 20%;*/
}

#pic img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.seller{
  font-family: Helvetica;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  border-radius: 20px;
}

#rate{
  font-family: Helvetica;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  border-radius: 20px;
}

.foodInfo{
  font-family: Helvetica;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  border-radius: 20px;
}

.decision {
  font-family: Helvetica;
  font-size: 12px;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  border-radius: 20px;
  padding: 10px;

 /* margin-left: 0px;
  margin-top: 0px;
  width: 5%;
  margin: 10px;
*/
}


#home{
  font-family: Helvetica;
  font-size: 12px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  border-radius: 20px;
  /*right: 0px;
  bottom: 0px;
    position: absolute;

  /*width: 7%;*/
    margin-top: 10px;

}

/*#title, .seller, .foodInfo, #home, #rate{
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}*/

.seller a, .decision a, #home a, .foodInfo, #rate{
  text-decoration: none;
  color: white;
}

.seller:hover{
  background-color: white;
  border: 2px dotted black;
}

.seller:hover a{
  color: black;
  text-transform: uppercase;
}

.decision:hover{
  background-color: white;
  border: 2px dotted black;
}

.decision:hover a{
  color: black;
  text-transform: uppercase;
}

#home:hover{
  background-color: white;
  border: 2px dotted black;
}

#home:hover a{
  color: black;
  text-transform: uppercase;
}
