body{
  background-color: #f9f9f9;
}

.overlay {
  background-color: white;
  border-radius: 10px;
  width: 400px;
  height: auto;
  margin: 0 auto;
  margin-top: 8%;
  padding-bottom: 25px;
}

.title{
  color: black;
  text-decoration: none;
  text-align: center;
  font-family: Futura;
  position: relative;
  font-size: 24px;
  top: 15px;
  padding-bottom: 10px;
}

.info{
  position: relative;
  left: 3px;
  font-size: 16px;
  margin-bottom: 1px;
  font-family: Futura;
  padding-top: 7px;
}

.field{
  height: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

.navbutton{
  font-family: Helvetica;
  font-size: 15px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  border-radius: 20px;
  margin-top: 10px;
}

.navbutton a{
  text-decoration: none;
  color: white;
}

.navbutton:hover{
  background-color: white;
  border: 2px dotted black;
}

.navbutton:hover a{
  color: black;
  text-transform: uppercase;
}
